@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
	background-color: #1f1e1e;
}

.wrap{
    width: 100%;
    margin: 0 auto;
    
}

ul, ol{
    list-style: none;
}


.logo{
    margin-top: 30px;
    text-align: center;
    transform: scale(1.2);
}
.menu{
  text-align: right;
  margin: 80px;

}

.dropdown{

    position : relative;
    display : inline-block;
    

  }


 .dropbtn{
    font-family : 'Material Icons';
    text-align: center;
    border : 1px solid rgb(108, 108, 108);
    border-radius : 4px;
    /* background-color: #ffffff; */
    font-weight: 400;
    color : rgb(255, 255, 255);
    padding : 12px;
    width :80px;
    text-align: center;

    cursor : pointer;
    font-size : 15px;
}
.dropdown-content{
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
    font-weight: 400;
    background-color: #f9f9f9;
    min-width : 80px;
  }
  
.dropdown-content a{
    display : block;
    text-decoration : none;
    color : rgb(226, 225, 225);
    font-size: 15px;
    font-family : 'Material Icons';

    padding : 12px 20px;
}
  
.dropdown-content a:hover{
    background-color : #313131
}
  
.dropdown:hover .dropdown-content {
    display: block;
  }
